
table{
    border-collapse: collapse;
    table-layout:fixed;
    overflow-x: auto;
   
    display:block;
}
tbody{
  max-width:100%;
}
.cen{
    display: flex;
    justify-content: center;
    margin-top: 26px;
    width: 100vw;
}
.title
{
    margin-top: 50px;
}
td{
    height:20px;
    text-align:center;
}
tr:hover {background-color: lightblue;}
tr:nth-child(even) {background-color: #f2f2f2;}
th,td{
    padding:8px;
    text-align:center;
    /* border-bottom: 1px solid #ddd; */
}
th{
    background-color:#1c79ab;
    color:white;
    /* font-size: 8px; */
}
.pagination{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    margin: 60px auto;
        justify-content: center;

  

}
.pagination li{
    padding:5px;
    text-decoration:none;
    color:hotpick;
    float: left;
    left: 60%;
} 

  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 40px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 20px;
  }
  
  ul.pagination li.active a {
    color: blue;
  }
  ul.pagination li.active{
    color: blue;
  }
  
  ul.pagination li a:hover,
  ul.pagination li a.active {
   color: blue;
  }
  
  .page-selection {
    width: 48px;
    height: 30px;
    background-color: #337ab7;
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }